{% extends 'base.html' %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    {% for label, url in breadcrumbs %}
    <li{% if forloop.last %} class="active"{% endif %}>
        {% if url %}
        <a href="{{ url }}">{{ label }}</a>
        {% else %}
        {{ label }}
        {% endif %}
    </li>
    {% endfor %}
</ol>
{% endblock %}

{% block navbar %}
<div class="navbar navbar-default">
    <div class="navbar-header">
        <a class="navbar-brand">{{ heading }}</a>
    </div>
    {% block navbar_extra %}{% endblock %}
</div>
{% endblock %}
