{% extends 'base.html' %}

{% block messages %}
<div id="messages"></div>
{% endblock %}

{% block navbar_extra %}
<div class="navbar-form">
    <a href="{% url 'projects_update_deployment' pk=deployment.pk %}" class="btn btn-default">
        <span class="glyphicon glyphicon-cog"></span> Configure
    </a>
    <a id="trigger_redeploy" class="btn btn-default">
        <span class="glyphicon glyphicon-refresh"></span> Redeploy
    </a>
    <a href="{% url 'projects_create_deployment' project_pk=deployment.project.pk %}?copy_from={{ deployment.pk }}" class="btn btn-default">
        <span class="glyphicon glyphicon-export"></span> Copy as new
    </a>
    <a href="{% url 'projects_delete_deployment' pk=deployment.pk %}" class="btn btn-default pull-right">
        <span class="glyphicon glyphicon-remove"></span> Delete
    </a>
</div>
{% endblock %}

{% block contents %}
<div class="row">
    <div class="col-xs-9">
        <p>Configure your clients to point to the following URL:<p>
        <pre>{{ poll_url }}</pre>

        <h2>Nodes status</h2>
        {% if deployment.nodes.count %}
        <ul class="list-unstyled">
            {% for group in deployment.grouped_nodes %}
                {% if group|length == 1 %}
                    {% for node in group %}
                        {% include 'projects/include/deployment_overview_node.html' %}
                    {% endfor %}
                {% else %}
                    {% with node=group.0 %}
                        {% include 'projects/include/deployment_overview_node.html' %}
                        <li>
                            <a data-toggle="collapse" data-target="#node-group-{{ forloop.counter0 }}" class="btn btn-default btn-xs">Show {{ group|slice:"1:"|length }} others</a>
                        <li>
                    {% endwith %}
                    <li id="node-group-{{ forloop.counter0 }}" class="collapse">
                        <ul class="list-unstyled">
                            {% for node in group|slice:"1:" %}
                                {% include 'projects/include/deployment_overview_node.html' %}
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        {% else %}
        <p>No nodes information yet.</p>
        {% endif %}
    </div>
    <div class="col-xs-3">
        {% include 'logs/include/activity.html' %}
    </div>
</div>
{% endblock %}

{% block page_script %}
<script type="text/javascript">
    function add_message(message, fail)
    {
        // Add an alert message at the top of the page.
        if (fail) {
            var css_class = 'alert-danger';
        } else {
            var css_class = 'alert-success';
        }
        var alert_div = $('<div class="alert ' + css_class + ' fade in">' +
            '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>' +
            message +
            '</div>');
        $('#messages').append(alert_div);
    }

    $(function()
    {
        $('#trigger_redeploy').click(function()
        {
            var post_data = {secret: '{{ user.profile.secret }}'};
            var req = $.post('{% url 'api_trigger_redeploy' key=deployment.key %}', post_data);

            req.done(function()
            {
                add_message('<strong>Deployment was triggered!</strong> Refresh the page to see nodes status.');
            });
            req.fail(function()
            {
                add_message('<strong>Error!</strong> Check you are in deployment\'s ACL.', true);
            });
        });

        $('.delete_node').click(function()
        {
            var node_pk = $(this).data('nodePk'),
                node_elt = $(this).parents('.node').first();
            node_elt.remove()
            $.post('{% url 'projects_delete_node' %}', {pk: node_pk});
        });
    });
    {% include 'logs/include/activity.js' %}
</script>
{% endblock %}
