<div id="logs_activity" class="panel panel-default">
    {% if logs %}
    <div class="panel-heading">
        Recent activity
        <small><a href="{% if full_logs_url %}{{ full_logs_url }}{% else %}{% url 'logs_list' %}{% endif %}">full log</a></small>
    </div>
    <ul class="list-group">
        {% for entry in logs %}
        <li class="list-group-item" data-toggle="tooltip" data-placement="left" title="{{ entry.timestamp }}">
            {% if entry.link %}<a href="{{ entry.link }}">{% endif %}
            {{ entry }}
            {% if entry.link %}</a>{% endif %}
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <div class="panel-heading">
        No recent activity
    </div>
    {% endif %}
</div>
