{% extends 'projects/base.html' %}

{% block navbar_heading %}
"{{ deployment }}" deployment overview
{% endblock %}

{% block navbar_extra %}
<div class="navbar-form">
    <a href="{% url 'projects_update_deployment' pk=deployment.pk %}" class="btn btn-default">
        <span class="glyphicon glyphicon-wrench"></span> Configure
    </a>
    <a href="{% url 'projects_delete_deployment' pk=deployment.pk %}" class="btn btn-default">
        <span class="glyphicon glyphicon-remove"></span> Delete
    </a>
</div>
{% endblock %}

{% block contents %}
<p>Configure your clients to point to the following URL:<p>
<pre>{{ poll_url }}</pre>
{% endblock %}
