{% load static from staticfiles %}
<!DOCTYPE html>
<html encoding="utf8">
<head>
<title>{% block title %}{% endblock %}</title>
<meta charset="utf-8" />
<link href="{% static 'css/main.css' %}" rel="stylesheet" media="screen">
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="{% url dashboard %}">Cloudy Release</a>
        </div>
    </div>
</div>

<div class="container-fluid">
    {% block content %}{% endblock %}
</div>

</body>
</html>
