body {
    padding-top: 50px;
}

.contents {
    padding: 40px 15px;
}

#deployment_log .date {
    white-space: nowrap;
}

#deployment_variables_table {
    width: 33.3333%;
}

#logs li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
